<section id="about">
  <p class="section__text__p1">Get To Know More</p>
  <h1 class="title">About Me</h1>
  <div class="section-container">
    <div class="about-details-container">
      <div class="about-containers">
        <div class="details-container">
          <img src="https://github.com/harshajustin/portfolio-website/blob/main/src/app/assets/experience.png?raw=true"
            alt="Experience icon" class="icon" />
          <h3>Certifications</h3>
          <p>Data Wrangling & Visualization<br />
            Machine Learning with Python<br />
            Deep Learning with TensorFlow<br />
            Prompt Engineering for Everyone<br /></p>
        </div>
        <div class="details-container">
          <img src="https://github.com/harshajustin/portfolio-website/blob/main/src/app/assets/education.png?raw=true"
            alt="Education icon" class="icon" />
          <h3>Education</h3>
          <p> B.Tech Degree in Artificial Intelligence and Machine Learning <br />Anurag University</p>
        </div>
      </div>
      <div class="text-container">
        <p>
          <strong>Hello!</strong> I'm Harsha Vardhan, a Computer Science student with a passion for Artificial
          Intelligence and Machine Learning. I am currently pursuing a B.Tech degree in AI/ML at Anurag University, where I've
          built a solid foundation in programming, machine learning algorithms, and data structures.
        </p>
        
        <p>
          I'm looking for internship opportunities in AI/ML that will allow me to contribute to real-world projects and
          collaborate with experienced professionals. My hands-on experience includes:
        </p>
        <ul>
          <li><strong>Machine Learning Algorithms</strong>: Implementing and optimizing supervised,unsupervised
            algorithms and neural networks.</li>
          <li><strong>Data Analysis & Visualization</strong>: Skilled in Python, Pandas, and MATLAB.</li>
          <li><strong>Deep Learning</strong>: Experience with TensorFlow for building and training neural networks.</li>
        </ul>
        <p>
          Let’s connect if you're seeking a dedicated intern with a strong background in AI/ML!
        </p>

      </div>
    </div>
  </div>
  <img src="https://github.com/harshajustin/portfolio-website/blob/main/src/app/assets/arrow.png?raw=true"
    class="icon arrow" onclick="location.href='./#experience'" />
</section>
