<section id="profile">
    <div class="section__pic-container">
        <img src="../assets/about-pic.png" alt="John Doe profile picture" />
    </div>
    <div class="section__text">
        <p class="section__text__p1">Hello, I'm</p>
        <h1 class="title">Harsha Vardhan</h1>
        <p class="section__text__p2">Machine Learning Engineer</p>
        <div class="btn-container">
            <button class="btn btn-color-2"
                onclick="window.open('https://github.com/harshajustin/portfolio-website/blob/main/Harsha%20resume.pdf', '_blank')">
                Download CV
                </button>
                <button class="btn btn-color-1" onclick="location.href='./#contact'">
                    Contact Info
                </button>
        </div>
        <div id="socials-container">

            <!-- LinkedIn Icon -->
            <img src="https://github.com/harshajustin/portfolio-website/blob/main/linkedin.png?raw=true"
                alt="My LinkedIn profile" class="icon"
                onclick="window.open('https://linkedin.com/in/harsha-vardhan-027413304/', '_blank')" />


            <!-- GitHub Icon -->
            <img src="https://github.com/harshajustin/portfolio-website/blob/main/github.png?raw=true"
                alt="My Github profile" class="icon"
                onclick="window.open('https://github.com/harshajustin', '_blank')" />


        </div>
    </div>
</section>
